/*       CT colors          */
.ct-blue,
.checkbox-blue.checkbox.checked .second-icon,
.checkbox-blue.checkbox.checked,
.radio-blue.radio.checked .second-icon,
.radio-blue.radio.checked {
  color: #7A9E9F; }

.ct-azure,
.checkbox-azure.checkbox.checked .second-icon,
.radio-azure.radio.checked .second-icon,
.checkbox-azure.checkbox.checked,
.radio-azure.radio.checked {
  color: #68B3C8; }

.ct-green,
.checkbox-green.checkbox.checked .second-icon,
.radio-green.radio.checked .second-icon,
.checkbox-green.checkbox.checked,
.radio-green.radio.checked {
  color: #7AC29A; }

.ct-orange,
.checkbox-orange.checkbox.checked .second-icon,
.radio-orange.radio.checked .second-icon,
.checkbox-orange.checkbox.checked,
.radio-orange.radio.checked {
  color: #F3BB45; }

.ct-red,
.checkbox-red.checkbox.checked .second-icon,
.radio-red.radio.checked .second-icon,
.checkbox-red.checkbox.checked,
.radio-red.radio.checked {
  color: #EB5E28; }

input.ct-blue + span.switch-left,
input.ct-blue + span + label + span.switch-right {
  background-color: #7A9E9F; }

input.ct-azure + span.switch-left,
input.ct-azure + span + label + span.switch-right {
  background-color: #68B3C8; }

input.ct-green + span.switch-left,
input.ct-green + span + label + span.switch-right {
  background-color: #7AC29A; }

input.ct-orange + span.switch-left,
input.ct-orange + span + label + span.switch-right {
  background-color: #F3BB45; }

input.ct-red + span.switch-left,
input.ct-red + span + label + span.switch-right {
  background-color: #EB5E28; }

/*      Checkbox and radio         */
.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #66615b; }

.checkbox input,
.radio input {
  outline: none !important;
  display: none;
  text-align: center;
}

.checkbox .icons,
.radio .icons {
  color: #66615b;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear; }

.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: auto;

  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100); }

.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox:hover,
.radio:hover {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear; }

.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100); }

.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear; }

.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: #DDDDDD; }

.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #DDDDDD; }

.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100); }

.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #DDDDDD; }

.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  color: #DDDDDD;
  filter: alpha(opacity=100); }


